.btn
	z-index: 1
	position: relative
	display: flex
	align-items: center
	justify-content: center
	text-align: center
	cursor: pointer
	font-family: var(--font-main)
	overflow: hidden
	border: none
	background-color: transparent
	transition: .3s
	outline: none
	border-bottom: none
	&__icon
		display: block
		width: 100%
		height: 100%
	&__effect-hover
		position: absolute
		transition: width 0.4s ease-in-out, height 0.4s ease-in-out
		transform: translate(-50%, -50%)
		z-index: -1
		background: rgba(255, 255, 255, 0.3)
		width: 0
		height: 0
		border-radius: 50%
	&.--active
		.btn
			&__effect-default
				opacity: 0 !important
			&__effect-hover
				width: 225%
				height: 562.5px

	&.--blink
		.btn
			&__effect-default
				position: absolute
				top: 0
				bottom: 0
				left: 0
				right: 0
				transition: .3s
				&:after
					content: ''
					position: absolute
					height: 350%
					width: 200%
					top: 0
					left: -100%
					background: rgba(255, 255, 255, 0.8)
					border-radius: 100%
					-webkit-transform: scale(0)
					-ms-transform: scale(0)
					transform: scale(0)
					z-index: 20
					-webkit-animation-name: ripple
					animation-name: ripple
					-webkit-animation-duration: 6s
					animation-duration: 6s
					-webkit-animation-timing-function: linear
					animation-timing-function: linear
					-webkit-animation-iteration-count: infinite
					animation-iteration-count: infinite
	&.--sm
		height: 28px
		border-radius: 5px
		.btn
			&__icon + .btn__text
				margin-left: 7px
			&__icon
				display: flex
				align-items: center
				justify-content: center
				width: 16px
				height: 16px
				svg
					display: block
			&__text
				font-size: 16px
				font-weight: 300
	&.--md
		height: 40px
		border-radius: 5px
		.btn
			&__icon + .btn__text
				margin-left: 10px
			&__icon
				display: flex
				align-items: center
				justify-content: center
				width: 20px
				height: 20px
				svg
					display: block
			&__text
				font-size: 18px
				font-weight: 300
	&.--bg-blue
		color: #fff
		background-color: var(--color-blue)
		.btn
			&__icon
				path
					fill: #fff
	&.--bg-gray
		color: #fff
		background-color: var(--color-gray)
		.btn
			&__icon
				path
					fill: #fff

	&.--b-gray
		color: #313131
		border: 1px solid #dbdbdb
	&.--shadow
		box-shadow: 0px 5px 5.88px 1.12px rgba(78, 78, 78, 0.16)
		&:hover
			box-shadow: none

@keyframes ripple
	20%
		opacity: 0
		-webkit-transform: scale(2.5)
		transform: scale(2.5)

	100%
		opacity: 0
		-webkit-transform: scale(2.5)
		transform: scale(2.5)
