:root {
  --color-main: #09425d;
  --color-gray: #adb8bd;
  --color-blue: #01a0e2;
  --font-main: "Roboto", sans-serif;
}

.tal {
  text-align-last: left;
}

.tac {
  text-align: center;
}

.tar {
  text-align: right;
}